/*///////////////////////////////////////// RESET CSS ///////////////////////////////////////*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*////////////////////////////////////////////// MY STYLES ///////////////////////////////////////////////////*/

body {
    background-color: #111111;
    color: white;
}

.bg {
    background-image: url('../img/bg.jpg');
    padding: 230px 0px;
    margin: 0px;
    border: inherit;
    background-position: center;
    position: static;
}

header {
    background-color: #333;

}

nav {
    display: block;
    border-top: 1px solid #111;
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: #222;
    box-shadow: 3px 4px 5px #111111;
}

nav ul {

    padding: 0;
    margin: 25px 0 0;
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 0 18px;
}

nav ul li a {
    color: #ccc;
    font-size: 1.2em;
    letter-spacing: 0;
    border-bottom: none;
}

nav ul li a:hover {
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #1b1b1b;
    height: 30px;
}

footer p {
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
}

iframe {
    margin: 10px 0;
}

.comment-form {
    margin: 10px 40px;
    display: inline;
}

.comment-form label {
    display: block;
    margin: 10px 10px;
}

.comment-form textarea {
    margin-top: 10px;
    display: block;
}

.comment-form {
    display: inline-block;
    margin-left: 5%;
}

.comment-logo {
    display: inline;
}

.comment-logo img {
    margin: auto auto 30px 30px;
}

.comment-form input {
    margin-left: 5%;
}

.news ul li {
    margin: 20px 70px;
    background-color: #444444;
    font-size: small;
    opacity: 1;
}

.news-bg {
    background-image: url("../img/news-bg.jpg");
    padding: 230px 0;
    margin: 0px;
    position: static;
}